* {
    margin: 0;
}

.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.para {
    display: flex;
    gap: 30px;
    text-decoration: none;
}

.org h3 span {

    font-style: arial;

}

.org {
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, orangered, orange);
}

.container {
    display: flex;
    background: linear-gradient(to bottom, white, rgb(227, 145, 115));
}

.left {
    padding: 20px;
    width: 50%;
    /* height: 50%; */
}


.right {
    width: 50%;

}

.right img {
    height: 90%;
    width: 80%;
    padding: 20px;
}

.left h1 span {
    color: orangered;
    height: 20px;
}

.child {
    display: flex;
    gap: 20px;
}

#heading {
    width: 50%;
    font-size: 45px;
    line-height: 45px;
}

#des {
    color: gray;
    margin: 20px 0px;
    line-height: 30px;
}

button {
    color: white;
    cursor: pointer;
    transition: transform 0.5s;
    background: linear-gradient(to right, orange, orangered);
}

button:hover {
    color: white;
    background: linear-gradient(to left, orange, orangered);
    transform: scale(1.1);
}

.child #not a {
    text-decoration: none;
    color: black;
}
@media screen and (max-width:450px){
    .parent{
        margin: 0;
        padding: 20px 0;
    }
     .parent ul
     {
        list-style: none;
        gap: 10px;
        font-size: 12px;
     }
    .org{
        height: auto;
        width: auto;
    }
    .container
    {
        flex-direction: column;
    }
    .left{
        width: 100%;
        padding: 10px;
    }
    .left p{
        width: 90%;
    }
    #heading
    {
      width: 100%;
    }
    .right
    {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

@media (min-width:769px) and (max-width:1024px)
{ .hero{
        width: 100vw;
     }
}
