* {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;

}

ul li a {
    padding: 20px;
}

.hero {
    /* display: flex;
        flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 30px
        /* justify-content: space-between; */
}

.hero .pic {
    margin-left: 400px;
}

.bio {

    padding: 20px;

}

.bio h1 {
    padding: 10px 0;
}

.bio p {
    padding: 10px 0;
}

button {

    color: white;
    background-color: orangered;
    padding: 10px;
    transition: transform 0.3s linear;

}

button:hover {
    color: whitesmoke;
    transform: scale(1.1);
    background: linear-gradient(to right, rgb(119, 9, 86), rgb(233, 210, 210));
}

.next {
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 255, 255, 0.107);
}

.part {
    height: 200px;
    width: 300px;
    padding: 30px;
    margin: 20px;
    border: 1px solid black;
    background-color: white;
    transition: transform 0.5s linear;

}

.part:hover {
    transform: scale(1.1);
}

.part h3 {
    padding: 10px;
}

.part pre {
    padding: 10px;
}

.part p {
    padding: 10px;
}

.part1 {
    background-color: white;

    border: 1px solid black;
    height: 200px;
    width: 300px;
    padding: 30px;
    margin: 20px;
    transition: transform 0.5s linear;


}

.part1:hover {
    transform: scale(1.1);
}

.part1 h3 {
    padding: 10px;
}

.part1 pre {
    padding: 10px;
}

.part1 p {
    padding: 10px;
}

.next1 {
    background-color: rgba(0, 255, 255, 0.107);
}

p {
    padding: 20px;
}
.child1
{
    display: flex;
    flex-direction: column;
}
.show
{
    display: flex;
}